.table-container {
    display: inline-table;
    border: 1px solid black;
    table-layout: auto;
    width: 100%; 
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  
  
  .tr:hover {
    background: yellow;
  }